@use "./styles/_variables" as *;
@use "./styles/_reset";
@use "./styles/_tiles";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

body {
  background-color: $primary-color;
}

.container{

  &__tile {
    //border: 2px solid $primary-border;
    //margin: 10px; 
    height: 120px;
    // width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $primary-border;
   
   
  }
    

  &__button{
    background-color: #0C6164;
    color:white;
    border-radius: 5px;
    border:none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 150px;
    height: 30px;
    font-size: 15px;

    

  }
}

h1{
  color: #ffffff;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
  // justify-content: center;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  width: 100%;
}

hr{
  border:2px dotted #D8B887; 
  width:360px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

#button-new{
 margin-top: 20px;

}

.player1{
  font-size: 75px;
  color: white;
  display: flex;
  align-items: center;
}

.player2 {
  font-size: 75px;
  color: #0C6064; 
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container{
    &__tile {
      height: 100px;
    }
  }
  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container__tiles {
    width: 300px;
    margin-bottom: 20px;
  }
}